<h1>Home</h1>
<p>Enter the parameters of your event map:</p>

<%= form_for @venue, :url => {:action => 'create_all', :controller => 'venues'} do |f| %>
  <div>
    <%= text_field_tag :city %>
  </div>
  <div>
    <%= select_tag "subcategory", options_for_select(@subcategories) %>
  </div>
  <div class="btn btn-primary">
    <%= f.submit %>
  </div>
<% end %>

